body {
  font-family: "Poppins", sans-serif;
  background: url("../bg3.svg") center/cover no-repeat;
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  background: linear-gradient(90deg, #262626 0%, #323334 100%);
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  max-width: 700px;
  width: 100%;
}

h1 {
  color: white;
}

p {
  color: #555;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


button:hover {
  background-color: #2980b9;
}

input[type="number"] {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

#result {
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
}

#result.correct {
  color: #27ae60;
}

#result.incorrect, #result.gameover {
  color: #c0392b; 
}

@media only screen and (max-width: 768px) {
  #container {
    padding: 15px;
    border-radius: 20px;
    margin: 10px;
  }

  button, input[type="number"] {
    font-size: 14px;
    padding: 8px 16px;
  }
}
